<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="Normalize.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <div class="main-header">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
          alt=""
        />
        <h3>Pokemon Name</h3>
      </div>
      <div class="second-header"></div>
    </div>
  </body>
</html>
