

body{
    background-color: #27005D;
}

.content{
    /* From https://css.glass */
background: rgba(121, 63, 223, 0.6);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid rgba(121, 63, 223, 0.3);
}
h1{
    color: aqua;
}